/* Most of it I copied from figma, but the numbers maybe x2 because I downloaded the X2 file for the template image */
.template{
    z-index: 10
}
.container {
    width: 696px;
    height: 1240px;
    position: relative;
}

<<<<<<< Updated upstream:template.css
.agent {
=======
.agentSection {
>>>>>>> Stashed changes:greeting_card.css
    position: absolute;
    width: 686px;
    height: 140px;
    left: 2px;
    top: 564px;
    background: #E8BAA3;
    display: flex;
    justify-content: space-evenly;
}

<<<<<<< Updated upstream:template.css
.agent_details {
=======
.agentDetails {
>>>>>>> Stashed changes:greeting_card.css
    width: 410px;
    height: 112px;
    font-family: 'Avenir Next Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-transform: capitalize;
    color: #1A2258;
    flex: none;
    order: 1;
    flex-grow: 0;
}